body {
  background-color: #a9aee8;
}
  li {
  background: #8c8c8c;
  margin: 5px;
  padding-bottom: 15px;
  width: 275px;
  font-size: 20px;
  text-align: center;
  display: inherit;
  padding-top: 10px;
  border-radius: 50px;
}

.label 
.form-group {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.form-group>h2 {
  margin-top: 50px;
}

.create-update-form {
  background: #d6d2e0;
  margin-top: 15px;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
  border-radius: 150px;
}
img {
  display: block;
    margin: auto;
    padding-bottom: 30px;
}

.form-group {
  margin-bottom: 5px;
}
h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  width: 300px;
  text-align: center;
}
button {
  font-size: 14px;
  font-family: Helvetica;
  text-align: center;
  width: 150px;
  color: #000099;
  background-color: #b385ea;
}
#left {
  position: absolute;
  left: 0;
}
#right {
  position: absolute;
  right: 0;
  padding-right: 40px;
}
/*#center {
  clear: both;
  margin-left: 37.5%;
  font-size: 20px;
  text-align: center;
}*/

#burg {
  width: 200px;
  font-size: 14px;
}