body {
  background-color: #a9aee8;
}
  li {
  background: #777777;
  margin: 5px;
  padding: 5px;
  width: 300px;
  font-size: 20px;
  text-align: center;
  display: inherit;
}

.label 
.form-group {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.create-update-form {
  background: #d6d2e0;
  margin: 5px;
  padding-bottom: 5px;
  width: 300px;
  position: absolute;
  margin-left: 37.5%;
  font-size: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 5px;
}
h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  width: 300px;
  text-align: center;
}
button {
  font-size: 14px;
  font-family: Helvetica;
  text-align: center;
  width: 150px;
  color: #301a70;
  background-color: #b385ea;
}
#left {
  float: left;
}
#right {
  float: right;
}
/*#center {
  clear: both;
  margin-left: 37.5%;
  font-size: 20px;
  text-align: center;
}*/

#burg {
  width: 200px;
  font-size: 14px;
}